.p-20 {
    padding: 20px;
}
.ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.plr-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.mar-b-30 {
    margin-bottom: 30px;
}

.grid-four {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
@media only screen and (max-width: 700px){
    .grid-four {
        grid-template-columns: 1fr;
    }
}
.grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}
@media only screen and (max-width: 700px){
    .grid-two {
        grid-template-columns: 1fr;
    }
}
.btn-big a {
    color: inherit;
    text-decoration: none;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
