/* New Styles for Website rebuild */
form.search {
    display: none;
}
.bx-controls {
    bottom: 20px;
    top: auto;
}
div#product-description-height {
    max-height: unset;
    overflow: auto;
}
div#cart-info {
    display: none;
}